#h3 {
    color: lightblue;
    text-align: center;
}

#filterText {
    color: lightblue;
}

#table-style {
    color: gray;
    border-color: cyan;
    border-bottom-width: 10px;
}

.tableheader {
    color: cyan;
    text-align: left;
}